$light_black:#0A0102;
$pale_white:#FFFFFF;
$dark_red:#FF001C;
$border_clr:#E2E2E2;
$grey:grey;
$white:white;
$bg_grey:#ccc;
$dark_grey:#9D9D9D;
$dim_white:#E4E4E4;
$redish_brown:#A03037;
$pink:pink;
$light_grey:#878787;