@import "colors";
.image-container {
    margin-left: 640px;
    margin-top: 20px;
}

.title-container p {
    margin-left: 590px;
    margin-top: -80px;
    font: normal normal bold 25px/30px Lato;
    letter-spacing: 0px;
    color: $dust;
    text-transform: capitalize;
    opacity: 1;
}

.message-section {
    width: 348px;
    height: 63px;
    margin-left: 570px;
    margin-top: 80px;
    text-align: center;
    font: normal normal normal 18px/22px Lato;
    letter-spacing: 0px;
    color: $dust;
    opacity: 1;
}

.title-section {
    width: 751px;
    height: 42px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    border: 1px solid $thick_white;
    opacity: 1;
    margin-left: 340px;
    margin-top: 45px;
}

.email-us {
    margin-left: 70px;
    margin-top: 8px;
}

.contact-us {
    margin-left: 300px;
    margin-top: -39px;
}

.address {
    margin-left: 550px;
    margin-top: -40px;
}

.email-sec {
    width: 223px;
    height: 112px;
    background: $pale_white 0% 0% no-repeat padding-box;
    border: 1px solid $thick_white;
    margin-left: 340px;
}

.email-sec p {
    padding-top: 10px;
    padding-left: 30px;
}

.contact-sec {
    width: 224px;
    height: 112px;
    background: $pale_white 0% 0% no-repeat padding-box;
    border: 1px solid $thick_white;
    opacity: 1;
    margin-left: 563px;
    margin-top: -113px;
    padding-top: 10px;
    padding-left: 53px;
}

.contact-section p {
    padding-top: 10px;
    padding-left: 30px;
}

.address-sec {
    width: 304px;
    height: 112px;
    background: $pale_white 0% 0% no-repeat padding-box;
    border: 1px solid $thick_white;
    margin-left: 787px;
    margin-top: -113px;
    padding-top: 10px;
    padding-left: 10px;
}

.address-sec p {
    text-align: left;
    font: normal normal medium 12px/15px Lato;
    letter-spacing: 0px;
    font: normal normal medium 12px/15px Lato;
    letter-spacing: 0px;
    color: #333232;
    opacity: 1;
}

.btn{
    background:#3371B5;
    height: 35px;
    color:$white;
    opacity:1;
    margin-left:43%;
    margin-top:2%;
}